<div class="container login-container">
  <div class="container-center">
    <h1 class='text-center'>Andrew and Sarah's Wedding</h1>
  </div>
  <div class="container-center">
    <h2 class='text-center'>Log In</h2>
  </div>
  <div class="container-center">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :name, class: "font-amatic" %>
        <%= f.text_field :name, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :password, class: "font-amatic" %>
        <%= f.password_field :password, autocomplete: "off" %>
      </div>


      <div class="actions">
        <%= f.submit "Log In", class: "btn btn-yellow btn-full" %>
      </div>
    <% end %>
  </div>
</div>