<div class="container">
	<div class="container-center page-heading">
		<h1 class="page-title">RSVP</h1>
		<p class="col-full text-center page-message">(click and submit to RSVP)</p>
	</div>
	<div class="container-center">
		<ul class="list rsvp-form">
			<% if @family.present? %>
				<%= form_for @family, url: family_update_path, method: :post do |f| %>
				  <% if @family.errors.any? %>
				    <div id="error_explanation">
				      <h2><%= pluralize(@family.errors.count, "error") %> prohibited this family from being saved:</h2>

				      <ul>
				      <% @family.errors.full_messages.each do |message| %>
				        <li><%= message %></li>
				      <% end %>
				      </ul>
				    </div>
				  <% end %>

					<ul class="list rsvp-list">
						<%= f.fields_for :users, f.object.users.order(:name) do |m| %>
					      <li class="rsvp-item">
					      	<%= m.check_box :attending, class:"rsvp-checkbox" %>
					        <%= m.label :attending, m.object.first_name, class:"rsvp-label" %>
					      </li>
					      <li class="rsvp-item">
					        <%= m.label :dietary_requirements," Dietary Requirements?", class:"rsvp-dietary-label" %>
					        <%= m.text_area :dietary_requirements, class:"rsvp-textarea" %>
					      </li>
					    <% end %>
					</ul>

					<div class="rsvp-submit">
						<%= f.submit 'Submit', class:"btn btn-yellow btn-full" %>
					</div>
				<% end %>

			<% else %>
				<li>Oops! It looks like something has gone wrong and we can't find you"</li>
			<% end %>
		</ul>
	</div>
</div>