<div class="container">
	<div class="container-center page-heading">
		<h1 class="page-title">RSVP</h1>
		<p class="col-full text-center page-message">(click and submit to RSVP)</p>
	</div>
	<div class="container-center">
		<ul class="list rsvp-form">
			<% if @family.present? %>
				<%= form_for @family, url: family_update_path, method: :post do |f| %>
				  <% if @family.errors.any? %>
				    <div id="error_explanation">
				      <h2><%= pluralize(@family.errors.count, "error") %> prohibited this family from being saved:</h2>

				      <ul>
				      <% @family.errors.full_messages.each do |message| %>
				        <li><%= message %></li>
				      <% end %>
				      </ul>
				    </div>
				  <% end %>

					<ul class="list rsvp-list">
						<%= f.fields_for :users, f.object.users.order(:name) do |m| %>
					      <li class="rsvp-item">
					      	<h4 class="rsvp-title"> <%= m.object.first_name %></h4>
							<div class="rsvp-row">
								<div class="rsvp-col-left">
									<h5>Attending?</h5>
								</div>
								<div class="rsvp-col-right">
						        	<%= m.radio_button :status, 'attending' %> 
							    	<%= m.label :status, 'Yes', class:"rsvp-label" %>
							    	<%= m.radio_button :status, 'not_attending' %> 
							    	<%= m.label :status, 'No', class:"rsvp-label" %>
							    	<%= m.radio_button :status, 'no_reply', class:"hidden-element" %>
							    </div>
							</div>
							<div class="rsvp-dietary rsvp-row">
						        <div class="rsvp-col-left">
									<h5 class="rsvp-requirements">Dietary Requirements?</h5>
								</div>
								<div class="rsvp-col-right">
							        <input type="radio" name=<%="diet_#{m.object.first_name}_yes"%> value="yes" class="radio-button" <%=  m.object.dietary_requirements.present? ? "" : "checked" %> >
							        <%= label :diet, 'Yes', class:"rsvp-label" %>						
							        <input type="radio" name=<%="diet_#{m.object.first_name}_no"%> value="no" class="radio-button" <%=  m.object.dietary_requirements.blank? ? "" : "checked" %>>
							        <%= label :diet, 'No', class:"rsvp-label" %>
						        </div>
						        <div class="rsvp-col-full">	
						        	<div class="rsvp-textarea-wrapper hide">
						        		<p>Please Specify</p>
							    		<%= m.text_area :dietary_requirements, class:"rsvp-textarea" %>
							    	</div>
							    </div>
							</div>
					      </li>
					    <% end %>
					</ul>

					<div class="rsvp-submit">
						<%= f.submit 'Submit', class:"btn btn-yellow btn-full" %>
					</div>
				<% end %>

			<% else %>
				<li>Oops! It looks like something has gone wrong and we can't find you"</li>
			<% end %>
		</ul>
	</div>
</div>