<nav class="nav container-center">
	<button class="btn hidden-desktop btn-mobile col-full">Menu</button>
	<ul class="list list-horizontal nav-list">
		<% if user_signed_in? %>
			<li><%= link_to "Home" , root_path %></li>
			<li><%= link_to "RSVP" , rsvp_path %></li>
			<li><%= link_to "Gift Registry" , gifts_path %></li>
			<li><%= link_to "Details" , details_path %></li>
			<li><%= link_to "Tips and Tricks" , tips_and_tricks_path %></li>
		  	<li><%= link_to('Log Out', destroy_user_session_path, :method => :delete) %> </li>
		<% end %>
	</ul>
</nav>