<!DOCTYPE html>
<html>
<head>
  <title>Asw</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Athiti" rel="stylesheet">
</head>
<body>
	<% flash.each do |key, value| %>
	  <span class='<%="flash flash-#{key}"%>'><%= value %></span>
	  <script type="text/javascript">
	    if ($(".flash.flash-alert").length){
	      toastr.warning($(".flash.flash-alert"), {timeOut: 10000});
	    }
	    if ($(".flash.flash-notice").length){
	      toastr.success($(".flash.flash-notice"), {timeOut: 10000});
	    }
	  </script>
	<% end %>

	<% unless current_page?(controller: 'devise/sessions', action: 'new') || current_page?(controller: '/pages', action: 'home') %>
		<%= render partial: 'layouts/nav' %>
	<% end %>

	<% if current_page?(controller: '/pages', action: 'home') %>
		<div class="container-pad home">
			<div class="border-img-wrapper">
				<%= image_tag 'flowers-top-left-2.svg', class:"border-img border-img--left" %>
				<%= image_tag 'flowers-top-right-2.svg', class:"border-img border-img--right" %>
			</div>
			<%= yield %>
		</div>
	<% else %>
		<div class="border-img-wrapper">
			<%= image_tag 'flowers-top-left-2.svg', class:"border-img border-img--left border-img--top" %>
			<%= image_tag 'flowers-top-right-2.svg', class:"border-img border-img--right border-img--top" %>
			<%= yield %>
			<%= render partial: 'layouts/footer' %>
		</div>
	<% end %>
	<%#= render partial: 'layouts/wet_wedding' %>
	</body>
</body>
</html>
